# --- SERVER ---
SERVER_PORT=3004

# --- REDIS ---
# Local: localhost | Docker container: tên container (vd: workspace_redis)
REDIS_ADDR=localhost:6379

# --- KAFKA (Dành cho future use) ---
KAFKA_BROKER=localhost:9092
